div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 
      a(href='/list/{{list._id}}')
        | {{list.title}} 

      | / {{item.term}}

      | {{(list.owner._id == getCurrentUser()._id) ? '' : '('+list.owner.name+')'}}

    form(ng-show='isOwner()')
      p.input-group
        label(ng-repeat='provider in lookupProviders')
          label.checkbox-inline
            input(type='checkbox', ng-model='provider.selected')
            {{provider.key}}
  
      p.input-group
          button.btn.btn-primary(type='button', ng-click='deleteItem()') Delete
          button.btn.btn-primary(type='button', ng-click='searchItem()') Search


.container

  .row
    .col-md-4.col-lg-4.col-sm-6(ng-repeat='result in results')
        .well.list-item-result(ng-class='{"selected": result.selected}' ng-click='toggleSelection(result)')
          
          i.fa.fa-check.pull-right(ng-show='result.selected')
          
          //button.close(ng-show='isOwner()', type='button', ng-click='result.selected=false') 
          //  i.fa.fa-times
         
          div
            p {{result.description}} 
           p.text-right
              | [ 
              a(href='{{result.uri}}' ng-click='$event.stopPropagation()')
                | {{result.provider}}
              | ]

  
  .row
    .col-lg-12
      code
        {{selectedProviders}}

footer.footer
  .container
    p
      | Adam Brown
      = ' | '
      a(href='https://twitter.com/adamarthurryan') @adamarthurryan
      = ' | '
      a(href='http://madanworb.com') Portfolio