div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Lists
    p.lead Lists in the database

.container
  
  .row
    .col-lg-4
      form.item-form
        label New list
        p.input-group
          input.form-control(type='text', placeholder='List title.', ng-model='newListTitle')
          span.input-group-btn
            button.btn.btn-primary(type='submit', ng-click='createList()') Create

  .row
    .col-lg-12
      h1.page-header Lists:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='list in lists')
        li
          h4 
            a(href=href='./list/edit/{{list._id}}')
              | {{list.title}}
         
          hr
         
          div(ng-repeat='item in list.items')
            p {{item.term}}


  

footer.footer
  .container
    p
      | Adam Brown
      = ' | '
      a(href='https://twitter.com/adamarthurryan') @adamarthurryan
      = ' | '
      a(href='http://madanworb.com') Portfolio