div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 
      | {{list.title}} 
      | {{(list.owner._id == getCurrentUser()._id) ? '' : '('+list.owner.name+')'}}

    form.provider-form
      label(ng-repeat='provider in lookupProviders')
        label.checkbox-inline
          input(type='checkbox', ng-model='provider.selected')
          {{provider.key}}


.container
  
  .row
    .col-lg-4(ng-show='isOwner()')
      form.item-form
        label Add an item
        p.input-group
          input.form-control(type='text', placeholder='Enter an item here.', ng-model='newTerm')
          span.input-group-btn
            button.btn.btn-primary(type='submit', ng-click='addListItem()') Add New

  .row
    .col-md-4.col-lg-4.col-sm-6(ng-repeat='item in list.items')
      .well.list-item
        h4 
          a(href='/list/{{list._id}}/item/{{item._id}}')
            {{item.term}}
          | &nbsp; 
          button.close(ng-show='isOwner()', type='button', ng-click='deleteListItem(item)') 
            i.fa.fa-remove
       
        hr
       
        div(ng-repeat='result in item.results')
          p {{result.description}}
          p.text-right
            | [ 
            a(href='{{result.uri}}')
              | {{result.provider}}
            | ]

footer.footer
  .container
    p
      | Adam Brown
      = ' | '
      a(href='https://twitter.com/adamarthurryan') @adamarthurryan
      = ' | '
      a(href='http://madanworb.com') Portfolio